
  <div class="container">
    <div class="row">
      <div class="col-md-6 centrarDiv ">
        <h2>Información de contacto</h2>
        <ul class="list-unstyled">
            <p>
                En Restaurantec, hemos creado un espacio acogedor donde puedes deleitarte con una deliciosa gastronomía en un ambiente amigable y distendido. Nuestra empresa fue fundada por un grupo de buenos amigos apasionados por la cocina y el arte de la hospitalidad.
                
                Si tienes alguna pregunta, sugerencia o simplemente quieres hacer una reserva, estaremos encantados de atenderte. Nuestro equipo de profesionales altamente capacitados se esfuerza por brindarte una experiencia gastronómica excepcional y un servicio personalizado.
                
                En Restaurantec, nos enorgullece ofrecerte una amplia variedad de platos exquisitos, elaborados con ingredientes frescos y de calidad. Desde nuestros suculentos cortes de carne hasta nuestras creaciones vegetarianas, hay algo para satisfacer todos los gustos y preferencias culinarias.
                
                ¡No dudes en contactarnos! Estamos ansiosos por escuchar tus comentarios y asegurarnos de que tu visita a Restaurantec sea inolvidable. Puedes comunicarte con nosotros a través del número de contacto proporcionado anteriormente o visitarnos en nuestra dirección.
                
                ¡Esperamos poder servirte pronto en Restaurantec, donde la buena comida y la hospitalidad se unen en una experiencia única!
                
                Atentamente,
                El equipo de Restaurantec</p>
          <li><i class="fas fa-map-marker-alt"></i>  Dirección: Peru #3, Heroico Ciudad de Tlaxiaco, Oaxaca, México</li>
          <li><i class="fas fa-phone"></i> Teléfono: 123-456-7890</li>
          <li><i class="fas fa-envelope"></i> Correo electrónico: info@restaurant.com</li>
          <li><i class="fas fa-globe"></i> Sitio web: <a href="https://www.restaurant.com">www.restaurant.com</a></li>
        </ul>
      </div>
    </div>
  </div>

